
  @import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(paysage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
header{
    display: flex;
    row-gap: 30px;
}
.hotel1{
   
    width: 90%;
    top: 40%;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(exterior-view (copie).jpg);
    height: 100vh;
    justify-content: center;
    margin-left: 5%;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow:  3px 3px 3px rgba(35, 189, 250, 0.747)
}
.hotel1 h1{
    color: rgb(0, 247, 255);
}
h1{
    padding-top: 3%;
    padding-left: 5px;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 90px;
    font-family: fantasy;
    top: 20px;
    color: antiquewhite;
    
}
h3{
    color: rgb(23, 162, 197);
    text-align: center;
    font-size: 35px;
  
}
.button{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.btn{
    border: 1px solid #fff;
    padding: 10px 20px;
    color: rgb(247, 9, 9);
    transition: 9ms;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
}
.btn:hover{
    background: rgb(18, 82, 18);
    color: yellow;
    border-radius: 8px;
    box-shadow: 5px 5px 5px  skyblue;
}
.hotel2{
    width: 90%;
    top: 40%;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(serena.jpg);
    min-height: 100vh;
    justify-content: center;
    margin-left: 5%;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow:  3px 3px 3px rgba(35, 189, 250, 0.747)
}
.button2{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.hotel2 h1{
    color: rgb(0, 247, 255);
}
.hotel3{
    width: 90%;
    top: 30%;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(jobourg.jpg);
    height: 100vh;
    justify-content: center;
    margin-left: 5%;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow:  3px 3px 3px rgba(35, 189, 250, 0.747)
}
.hotel3 h1{
    color: rgb(0, 247, 255);
}    
.button3{
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%,-50%);
}
